#text20{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: bold;
}


.text{
    display: flex;
    justify-content: center;
}
p{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}
.Specialties{
    display: flex;
    justify-content: center;
}
.facilities{
    display: flex;
    flex-direction: column;
}
.facilities p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: bold;
}
#whytitle{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
}
.Image{
    display: flex;
}
.Image div{
    margin: 10px;
    text-align: center;
    font-family: sans-serif;
}
.Image img{
     width: 350px;
    height: 250px;
    margin: none;
    border: 5px solid black;
    border-radius: 25px;
}
#locationTitle{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}
.locations{
    display: flex;
    justify-content: center;
}
.locations div{
    margin: 10px;
    text-align: center;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;

}