body{
    margin: 0px;
    background-color: lightblue;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(105, 105, 234);
    font-size: 2.5rem
}
.navbar ul{
    list-style-type: none; /* removes bullet points*/
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
}
.navbar a{
    color: white;
    text-decoration: none;
    text-decoration: none;/*removes under line showing in text*/
    padding: 15px;
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: bold;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}
.backvideo{
    margin-bottom: 20px;
     width: 100%;
    height: 100vh;
    overflow: hidden;
}
.whyAmh{
  /*  background-color: lightblue; */
}
.whyAmh h2{
    font-size: 2rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black
}
.whyAmh img{
    display: block;
    margin: 20px auto;
    width: 50%;
    border: 8px solid lightblue;
    border-radius: 20px;
}
.whyAmh h3{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    margin-bottom: 0;
    
}
.docVideo{
    display: block;
    margin: 15px auto;
    width: 60%;
    height: 60vh;
    overflow: hidden;
}
}
.advTech img{
    display: block;
    margin: 20px auto;
    width: 50%;
    border: 8px solid lightblue;
    border-radius: 20px;
}
.advTech h3{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    margin-bottom: 0;
}
.techVideo{
    display: block;
    margin: 15px auto;
    margin-bottom: 10px;
     width: 60%;
    height: 60vh;
    overflow: hidden;
}