.home img{
    display: flex;
    width: 92
    %;
    height: 50%;
    border-radius: 5px;
    margin: auto;
}
#text1{
    text-align: center;
    font-family: cursive;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}