body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
}
#mysubmit{
    font-size: 1em;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: 20px;
    background-color: dark grey;
    color: black;
    

}
#mysubmit:active{
    background-color: lightgrey;

}
#subresult{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#paymentresult{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}