#Countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#Buttoncontainer{
    text-align: center;

}
.button{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(214, 100%, 74%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25;
}
.button:hover{
    background-color: hsl(214, 100%, 56%);
}